<h2>Welcome <%= current_user.username %></h2>
<p>Here are your personal recipes:</p>

<% @recipe.each do |recipe| %>
  <ul>
  <li><%= link_to recipe.name, dessert_recipe_path(recipe.dessert_id, recipe) %></li>
</ul>
<%end %>


<p>Here are your favorite recipes:</p>
<% @favorite.each do |favorite| %>
  <ul>
  <li><%= link_to favorite.recipe.name, dessert_recipe_path(favorite.recipe.dessert_id, favorite.recipe)%></li>
</ul>
<%end %>
