<div class="container marketing">
  <h1>Recipes by Category:</h1>
  <% @desserts.each do |dessert| %>
    <div class="col-lg-4">
      <a href="/desserts/<%=dessert.id%>"><img class="img-circle" src="<%= dessert.dessert_image %>"></a>
      <a href="/desserts/<%=dessert.id%>"><h2><%= dessert.name %></h2></a>
    </div>
  <%end%>
</div>
