<h1>Desserts Index</h1>
<div class="dessert_wrapper">
<% @desserts.each do |dessert| %>
  <div class="desserts">
  <a href="/desserts/<%=dessert.id%>"><p><%= dessert.name %></p></a>
  <a href="/desserts/<%=dessert.id%>"><img src="<%= dessert.dessert_image %>"></a>
</div>
<%end%>
</div>
