/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}

header {
  height: 400px;
  margin-bottom: 20px;
  background-image: url('http://sf.co.ua/15/04/wallpaper-1d9e82.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  height: 400px;
}

img {
  /*width: auto;
  max-width: 300px;
  height: auto;
  max-height: 250px;*/
}

p {
  font-size: 18px;
  line-height: 26px;
}

em {
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3, h4 {
  color: #1cb0a1;
}

hr.style_no_symbol {
  padding: 0;
  border: none;
  border-top: medium double grey;
  color: #1cb0a1;
}

hr.style {
    padding: 0;
    border: none;
    border-top: medium double grey;
    color: #1cb0a1;
    text-align: center;

}
hr.style:after {
    content: "w";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.notice {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: green;
  margin-top: 5px;
}

.alert {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: red;
  margin-top: 5px;
}

.index_h1 {
  text-align: center;
}


.form_right {
  float: right;
  margin: 0;
  padding: 0;

}

.form_left {
  float: left;
  margin: 0;
  padding: 0;

}

.dessert_show_recipe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 210px;
}

.links {
  text-align: center;
}

.links ul {
  padding: 15px 10px 10px 10px;
}

.links li{
  list-style: none;
  display: inline;
  padding-right: 20px;
  font-size: 16px;
}

.dessert_show_recipes h4{
  border: 0.5px solid #DCDCDC;
  border-top: none;
  width: 100%;
  margin: 0;
  padding: 10px;
}


.dessert_show_wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.dessert_show_recipe_wrapper {
  margin-right: 15px;
  justify-content: space-around;

}
.dessert_show_recipes {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.navbar-brand {
color: white;
}

.img-circle {
  border-radius: 0;
  width: auto;
  width: 300px;
  height: auto;
  height: 200px;
}

a:hover {
  text-decoration: none;
}

a.fav {
  text-decoration: none;
  color: red;
}

a.no-fav {
  text-decoration: none;
  color: grey;
}

.recipe_wrapper {
  display: flex;
  border-bottom: 0.5px solid #DCDCDC;
  border-top: 0.5px solid #DCDCDC;
  height: auto;
}

li {
  font-size: 18px;
}

.recipe_description {
  width: 60%;
  padding-right: 50px;
}

.recipe_image {
  width: 40%;

}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: 'Dosis', sans-serif;
  color: #5a5a5a;
  padding: 0;
  margin: 0;
}

main {
  margin: 40px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;


}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
  margin-top: 20px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
